h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
p{
    color: rgb(9, 10, 10);
    background-color: rgb(98, 98, 227);
    text-align: center;
    border: #93101b;
    padding: 30px;
    line-height: 30px;
}
#oyennn{
    background-image:url(path/to/jpg.jpg);
}
#body {
    font-family: 'Arial', sans-serif;
    background-color:rgb(231, 125, 155);
    color:rgb(156, 218, 94);
    margin:auto;
    padding: 0;
}
#nav {
    background-color:rgb(77, 151, 95);
    padding: 15px;
    text-align: center;
}
#nav a {
    color:rgb(223, 208, 132);
    text-decoration: none;
    margin:15px;
    font-weight: bold;
}
#nav a:hover {
    background-color: rgb(192, 58, 87);
    text-decoration:underline;
}
#header {
    background-color:rgb(179, 122, 26);
    color:aqua;
    padding: 2px;
    text-align: center;
    border: radius 8px;
}
#header img {
    background-color: coral;
    border: radius 50px;
    width:15px;
    height:150px;
}
#article {
    background-color: chartreuse;
    padding:0%;
    text-align: center;
}
#table {
    background-color: rgb(13, 174, 174);
    width:10;
    margin:auto;
    border-collapse: collapse;
}
#table, th, td {
    background-color: rgb(231, 37, 156);
    border: 1px solid #790e20;
}
#th, td {
    background-color: darkorchid;
    padding: 20px;
    text-align:left;
}
#footer {
    background-color:#93101b;
    color:rgb(207, 8, 194);
    text-align:center;
    padding: 10px;
    position: fixed;
    width: 10%;
    bottom:2px;
}
#div, p, article{
    background-color: rgb(152, 225, 193);
    padding: 5px;
    margin:5px;
    border-radius: 5px;
}
